body {
    background: #444444;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#generator {
    margin: auto;
    color: rgb(200, 200, 200);
    background-color: rgb(150, 0, 0);
    border: none;
    border-radius: 0.3em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 1em;

}

.instructions {
    color: #ddd;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.character-description {
    font-family: "Nova Cut", sans-serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 22px;
    margin: 2em auto;
    color: #AAAAAA;
}

.hidden {
    display: none;
}